.card {
border: black;
padding: 100px;

}
body{

background-color: beige;
}
img{
width:150px;
height:150px;
border-radius:50%;
object-fit:cover;
}
button{ background-color: rgb(49, 133, 63);
color: #fff7f7;
border: black;

}